MPDCWP/SampleData/ArtisPageSampleData/ArtisPageSampleData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.ArtisPageSampleData" targetNamespace="Expression.Blend.SampleData.ArtisPageSampleData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ArtisPageSampleData" type="tns:ArtisPageSampleData" />
  <xs:complexType name="ArtisPageSampleData">
    <xs:sequence>
      <xs:element name="Albums" type="tns:Albums" />
      <xs:element name="Tracks" type="tns:Tracks" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Albums">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="AlbumsItem" type="tns:AlbumsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AlbumsItem">
    <xs:attribute name="Title" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Tracks">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="TracksItem" type="tns:TracksItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TracksItem">
    <xs:attribute blend:FormatParameters="2" name="Number" type="xs:double" />
    <xs:attribute name="Title" type="xs:string" />
  </xs:complexType>
</xs:schema>